*{
    margin: 0;
    padding: 0;
}

#maior{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;

}

#div_info{
    background-color: #2c1e39;
    width: 100%;
    border: solid 1px white;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}

#form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

#nick_input{
    transition: all 500ms ease;
    border-radius: 20px;
    width: 70%;
    padding-left: 2px;
    padding-right: 2px;
    
}

#confirmar{
    transition: all 500ms ease;
    border-radius: 20px;
    padding-left: 3px;
    padding-right: 3px;
    

}

.nao_confirmado{
    background-color: blueviolet;
}

#confirmar:hover{
    transform:scale(1.3)
}

#nick_input:hover{
    transform:scale(1.3)
}

.frase{
    color: rgba(137, 43, 226, 0.646);
}

#div_escolha{
    height: 25%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;

}

#escolha{
    height: 90%;
    width: 99%;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
}

#suporte{
    transition: all 500ms ease;
    width: 50%;
    border-radius: 20px;
    background-color: rgb(98, 78, 117);
}

#adc{
    transition: all 500ms ease;
    width: 50%;
    border-radius: 20px;
    background-color: #5f2497;
}

#suporte:hover{
    transform:scale(1.1)
}

#adc:hover{
    transform:scale(1.1)
}

.ok{
    background-color: green;
}

a{
    text-decoration: none;
}