*{
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#maior{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;

}

#div_info{
    transition: all 500ms ease;
    background: linear-gradient(black,blueviolet);
    width: 20%;
    /* min-width: 30vw; */
    border: solid 1px white;
    display: flex;
    flex-direction: column;
    gap: 200px;
    align-items: center;
}



#form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

#nick_input{
    transition: all 500ms ease;
    border-radius: 20px;
    width: 80%;
    padding-left: 2px;
    padding-right: 2px;
    box-shadow: 7px 5px black;
    
}

#confirmar{
    transition: all 500ms ease;
    border-radius: 20px;
    padding-left: 3px;
    padding-right: 3px;
    

}



#div_imagem{
    transition: all 500ms ease;
    width: 80%;
    
}



@media (max-width:1000px){
    #div_info{
        transition: all 500ms ease;
        width: 40%;
    }
    #div_imagem{
        transition: all 500ms ease;
        width: 60%;
    }
}

#div_imagem img{
    object-fit: cover;
}

.nao_confirmado{
    background-color: blueviolet;
}

#confirmar:hover{
    transform:scale(1.3)
}

.frase{
    color: rgba(175, 130, 217, 0.646);
    text-align: center;
}



#titulo{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(black,rgb(39, 5, 71));
    
}



a{
    text-decoration: none;
}



